@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.header {
    &__top {
        padding-top: 22px;
        padding-bottom: 22px;
        font-size: 15px;
        font-weight: 400;
        color: c.$dark;
    }

    &__top-content {
        align-items: center;
        justify-content: space-between;
        column-gap: 35.83px;
    }

    &__item {

        &_geolocation {
            padding-left: 38px;
            position: relative;
            max-width: 326px;

            &::before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url(../images/geolocation.svg) no-repeat;
                position: absolute;
                left: 10px;
                top: 3px;
            }
        }

        &_delivery {

            a {
                color: c.$blue;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$blue;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        &_payment {

            a {
                color: c.$blue;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: c.$blue;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

        &_email {
            a {
                color: c.$blue;
                font-size: 20px;
                display: block;
                font-weight: 400;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$blue;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

            span {
                display: block;
            }

        }

        &_telephone {

            a {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$dark;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        &_basket {
            font-size: 16px;
            font-weight: 500;
            position: relative;
            padding-left: 26px;
            cursor: pointer;

            span {
                position: absolute;
                background: c.$dark-grey;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: c.$white;
                left: 17px;
                top: -6px;
                font-weight: 700;
                font-size: 10px;
            }

            &::before {
                content: "";
                display: block;
                width: 22px;
                height: 22px;
                background: url(../images/basket.svg) no-repeat;
                position: absolute;
                left: 4px;
                top: 0;
            }

        }

        &_logo {


            img {
                max-width: 200.68px;
            }
        }

        &_catalog {
            background: c.$white;
            font-weight: 600;
            border-radius: 8px;
            text-align: center;
            transition: transform 0.3s ease;

            &:hover {
                background: c.$orange;

                button {
                    color: c.$white;
                }

                .burger span {
                    background: c.$white;
                }
            }
        }
    }

    &__link {
        font-size: 20px;
        color: c.$dark;
        font-weight: 600;
        display: block;
    }

    &__description {

    }

    &__button {
        &_order-call {
            width: 159px;
            height: 36px;
            font-weight: 600;
            padding: 9px 12.5px;
            border: 1px solid c.$blue;
            border-radius: 8px;
            font-size: 15px;
            line-height: 100%;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                background: c.$blue;
                color: c.$white;
            }

            &:disabled {
                background: c.$grey;
                border: none;
                color: c.$text-grey;
                cursor: not-allowed;
                pointer-events: none;
            }
        }

        &_catalog {
            font-size: 15px;
            font-weight: 600;
            color: c.$dark;
            width: 139px;
            height: 40px;
            padding: 11px 23px;
            cursor: pointer;

            &:disabled {
                background: c.$grey;
                border-radius: 8px;
                color: c.$text-grey !important;
                cursor: not-allowed;
                pointer-events: none;

                .burger {
                    background: none;
                    color: c.$text-grey;

                    span {
                        background: c.$text-grey;
                    }
                }

            }


            .burger {
                width: 21px;
                height: 17px;
                row-gap: 4px;
                flex-direction: column;
                margin-right: 8px;

                span {
                    background: c.$dark;
                    width: 21px;
                    height: 3px;
                }
            }
        }

        &_search {
            width: 82px;
            height: 40px;
            background: c.$white;
            border-radius: 8px;
            cursor: pointer;

            img {
                transition: transform 0.3s ease;
            }

            &:hover img {
                transform: scale(1.15);
            }

        }


        &_callback {
            @include button-styles1();
        }
    }

    &__bottom {
        background: linear-gradient(90deg, #0088CC 0%, #216EE0 100%);;
    }

    &__bottom-content {
        justify-content: space-between;
        align-items: center;
        padding-top: 9px;
        padding-bottom: 9px;
        column-gap: 37.5px;
    }

    &__list {
        max-width: 601px;
        column-gap: 36px;

        li {
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;

            .header__link {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$white;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

            &:hover .dropdown-menu {
                opacity: 1;
                visibility: visible;
            }


            &:nth-child(2) {
                max-width: 123px;

            }

            &:nth-child(3) {
                min-width: 98px;
            }

            &:first-child a::before {
                content: "";
                width: 17px;
                height: 6px;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                background: url(../images/arrow.svg) no-repeat;
            }

            &:nth-child(2) a::before {
                content: "";
                width: 17px;
                height: 6px;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                background: url(../images/arrow.svg) no-repeat;
            }

            a.dropdown-subitem::before {
                display: none;
            }

            .dropdown-menu {
                width: 267px;
                height: 138px;
                background: c.$white;
                display: flex;
                flex-direction: column;
                row-gap: 14px;
                justify-content: center;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                transition: opacity 0.3s ease, visibility 0s ease 0.3s;
                padding-top: 28px;
                padding-bottom: 28px;
                padding-left: 36px;
                top: 60px;
                border-radius: 8px;
                border: 1px solid #D8DADF;
                left: -17px;
                z-index: 999;



                &::before {
                    content: "";
                    position: absolute;
                    top: -13px;
                    left: 50px;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid white;
                }

                a {
                    color: c.$dark-grey;
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 500;
                    display: block;

                    &:hover {
                        color: #FFB663;

                    }
                }
            }

        }

        a {
            font-size: 15px;
            color: c.$white;
            font-weight: 500;
            position: relative;
            padding-bottom: 6px;
        }
        }
}

.main {}

.main-slider {

    padding-top: 34px;
    padding-bottom: 35px;

    &__inner {
        display: flex;
        height: 426px;
        column-gap: 30px;
    }

    &__inner-left {
        max-width: 890px;
        position: relative;
        border-radius: 8px;
    }

    &__description {
        position: absolute;
        top: 33px;
        left: 79px;
        text-align: left;
        z-index: 999;

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: #32476E;
            margin-bottom: 12px;
            max-width: 537px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 48px;
            text-align: left;
            max-width: 201px;
        }
    }

    &__link {
        width: 152px;
        height: 40px;
        background: transparent;
        font-size: 15px;
        font-weight: 600;
        color: c.$dark;
        border: 1px solid c.$blue;
        padding: 11px 41px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;

        &:hover {
            background: c.$white;
        }

    }

    &__inner-right {
        max-width: 430px;
        display: flex;
        row-gap: 30px;
        flex-direction: column;
    }


    &__banner {
        height: 207px;
        position: relative;
        cursor: pointer;

        .main-slider__banner-absolute {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            padding-top: 18px;
            padding-left: 28px;

            .main-slider__banner-title {
                font-size: 19px;
                font-weight: 700;
                color: #32476E;
                margin-bottom: 9px;
                max-width: 282px;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                max-width: 235px;
            }

        }

        a {
            @include button-link();
        }

    }

    &__banner-link {}
}

.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper-pagination {

    bottom: 23px !important;

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: #FFFFFF99;
        margin-right: 16px !important;
    }

    .swiper-pagination-bullet-active {
        background: c.$white;
    }
}

.accessories {
    background-image: url("../images/accessories-bg.jpg");
    padding-top: 60px;
    padding-bottom: 61px;

    h1 {
        font-size: 37px;
        font-weight: bold;
        color: c.$white;
        margin-bottom: 32px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 29px;
    }

    &__item {
        height: 331px;
        position: relative;
        cursor: pointer;
        border-radius: 8px;

        img {
            border-radius: 8px;
        }
    }

    &__description {
        position: absolute;
        left: 0;
        bottom: -4px;
        padding-bottom: 35px;
        padding-left: 21px;
        padding-right: 18px;
        width: 100%;
        justify-content: space-between;

        p {
            font-size: 16px;
            font-weight: 600;
            color: #000000;
        }

        a {
            @include button-link();
            position: static;
            width: 47.5px;
            height: 27px;
        }
    }
}

.brands {
    padding: 60px 0;

    .slider-brands {
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
    }

    h2 {
        @include h2-styles();
    }

    .swiper-slide {
        background: none;

        &:hover .grayscale-image {
            filter: grayscale(0%);
            filter: saturate(1.2);
            opacity: 1;
        }
    }
    .grayscale-image {
        max-width: 120px;
        margin: 0 auto;
        filter: grayscale(100%);
        transition:
                filter 0.3s ease,
                opacity 0.3s ease;
        will-change: filter;
        opacity: 0.5;

    }
    .swiper-button-next {
        @include button-arrow();


        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        @include button-arrow();
        transform: rotate(180deg);


        &:after {
            display: none;
        }
    }

}

.popular {
   @include items-slider();
}

.main-content {

    h2 {
        @include h2-styles();
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    &__inner {
        display: flex;
        gap: 30px;
        margin-bottom: 60px;
    }

    &__inner-left {
        width: calc((544px / 1350px) * 100%);
    }

    &__inner-right {
        width: calc((775px / 1350px) * 100%);
    }

    &__button {
        @include button-styles2();
        justify-content: center;

    }
}

.new-items {
    @include items-slider();

    .slider-new-items {
        padding-bottom: 50px;
        padding-top: 60px;

        .swiper-button-next {
            @include button-arrow();
            top: 38px;
            right: 5px;

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            @include button-arrow();
            top: 38px;
            transform: rotate(180deg);
            right: 78px;
            left: calc(100% - 120px);

            &::after {
                display: none;
            }
        }
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.3s ease;

        &::after {
            content:" ";
            width: 32px;
            height: 32px;
            background: url(../images/basket_white.svg) no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            width: 40px;
            height: 40px;
            border: 1 px solid c.$blue;

            &::after {
                background: url(../images/basket_blue.svg) no-repeat;
            }
        }

        &:disabled {
            width: 40px;
            height: 40px;
            background: c.$grey;

            &::after {
                background: url(../images/basket_grey.svg) no-repeat;
            }

        }
    }
}

.main-form {
    padding-top: 57px;
    position: relative;

    &__bg {
        position: absolute;
        bottom: 0;
        right: 160px;
        width: 598px;
        height: 777px;
        background:
                url("../images/man.png") no-repeat,
                url("../images/tel.png") no-repeat center center;
        z-index: 999;
    }

    &__inner {
        background: url("../images/form-bg.jpg") no-repeat;
        padding-top: 60px;
        padding-bottom: 62px;

        label {
            display: block;
            max-width: 545px;
            font-size: 13px;
            font-weight: 400;
            color: c.$white;
            position: relative;

            span {
                display: inline-block;
                max-width: 412px;
                margin-left: 13px;
                margin-bottom: 19px;
            }

            input:not(input[type="checkbox"]),
            textarea {
                width: 545px;
                height: 44px;
                background: c.$white;
                display: inline-block;
                margin-bottom: 17px;
                padding-left: 14px;
                font-size: 16px;
                font-weight: 500;
                color: #888888;
                border-radius: 8px;
                border: none;
                outline: none;
            }

            input[type="checkbox"] {
                width: 24px;
                height: 24px;
                background: c.$white;
                border-radius: 2px;
                border: none;
                outline: none;
                appearance: none;
                -webkit-appearance: none;

                &::before {
                    content: "";
                    position: absolute;
                    overflow: hidden;
                    left: 4px;
                    top: 9px;
                }

                &:checked::before {
                    border-right: 2px solid #888888;
                    border-bottom: 2px solid #888888;
                    height: 24%;
                    width: 2%;
                    transform: rotate(50deg) translateY(-20%) translateX(-10%);
                }
            }

            textarea {
                width: 545px;
                height: 118px;
                padding-top: 12px;
                font-family: "Montserrat", sans-serif;
                border: none;
                outline: none;

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder {
                    font-size: 16px;
                    font-weight: 500;
                    color: #888888;
                    opacity: 1;
                }
            }
        }

        p {
            max-width: 694px;
        }
    }

    &__text {
        font-size: 22px;
        line-height: 150%;
        font-weight: 600;
        color: c.$white;
        margin-bottom: 24px;
    }

    &__title {
        font-size: 37px;
        font-weight: 700;
        color: c.$white;
        margin-bottom: 20px;
    }

    &__form {
        button {
            @include button-styles1();
            width: 258px;
        }
    }
}

.item-series {
    @include items-slider();

    h2 {
        margin-top: 76px;
    }
    .swiper-slide {
        background: none;
    }

    &__button {
        @include button-link();
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: bottom;
        width: 100%;

        h4 {
            max-width: 227px;
        }

        .item-series__button {
            top: 4px;
            right: 15px;
            width: 47.5px;
            height: 27px;
        }
    }

    .slider-item-series {
        margin-bottom: 60px;
        padding-top: 60px;

        .swiper-button-next {
            @include button-arrow();
            top: 38px;
            right: 5px;

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            @include button-arrow();
            top: 38px;
            transform: rotate(180deg);
            right: 78px;
            left: calc(100% - 120px);

            &::after {
                display: none;
            }
        }

    }
}

.tech-blog {

    &__text {
        position: relative;
    }

    h2 {
        @include  h2-styles();
        margin-bottom: 23px;
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        color: c.$blue;
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 21px;

    }

    &__articles-link {
        @include button-link();
        position: static;
        width: 47.5px;
        height: 27px;

    }

    &__inner {
        display: flex;
        column-gap: 30px;
        margin-bottom: 54px;
    }

    &__item {

        position: relative;
        border: 1px solid #D8DADF;
        border-radius: 8px;

        &:first-child {
            flex: 0 0 50%;
            max-width: 660px;

            p {
                max-width: 465.5px;
            }

            .tech-blog__text {
                max-width: 512px;
            }
        }

        &:not(:first-child) {
            flex: 0 0 25%;
            max-width: 315px;

            p {
                max-width: 231.5px;
            }

            .tech-blog__text {
                max-width:279px;
            }
        }
    }

    &__img {

        max-height: 390px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        position: absolute;
        top: 30px;
        left: 28px;
    }

    &__description {
        height: 142px;
        padding-bottom: 22px;
        padding-left: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        p {
            font-size: 16px;
            font-weight: 600;
            color: c.$black;
        }

    }

    &__button {
        @include button-link();
        width: 47.5px;
        height: 27px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    &__date {
        font-size: 14px !important;
        font-weight: 400 !important;
        margin-bottom: 8px;
        color: c.$black;
    }
}

.main-payment-delivery {

    h2 {
        @include h2-styles();
        margin-bottom: 21px;
    }

    &__inner {
        display: flex;
        column-gap: 30px;
        justify-content: space-between;
        margin-bottom: 75px;
    }

    &__item {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 8px;
        border: 1px solid #D8DADF;
        padding-bottom: 32px;
        padding-left: 31px;
        min-width: 660px;

        &:first-child {
            background:
                    url("../images/delivery-2.jpg.png"),
                    url("../images/payment.jpg") no-repeat;
            background-size: cover;
        }

        &:last-child {
            background:
                    url("../images/delivery-2.jpg.png"),
                    url("../images/delivery.jpg") no-repeat;
            background-size: cover;
        }

    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 8px;
    }

    &__description {
       font-size: 16px;
        font-weight: 400;
        position: relative;
        max-width: 599px;

        p {
           max-width: 530px;
        }
    }

    &__link {
        @include button-link();
        width: 47.5px;
        height: 27px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

.main-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    background: c.$light-gray;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 9px;
        text-align: left;
        width: 163px;
        height: 40px;
        background: c.$white;
        border: 1px solid c.$blue;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        color: c.$dark;
        cursor: pointer;

        &:hover {
            background: c.$blue;
            color: c.$white;
        }
    }

    &__container {
        max-width: 1616px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 34px;
    }

    &__item {

        position: relative;

        &:last-child {
            padding-left: 20px;
            padding-right: 20px;

            .swiper-button-next {
                @include button-arrow();
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                margin-top: 5px;

                &::after {
                    display: none;
                }
            }

            .swiper-button-prev {
                @include button-arrow();
                top: 50%;
                transform: rotate(180deg) translateY(-50%);
                left: -10px;


                &::after {
                    display: none;
                }
            }
        }

        h2 {
            @include h2-styles();
            margin-bottom: 18px;
            color: #000000;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            line-height: 150%;
            margin-bottom: 30px;
        }

        &:first-child {
            flex: 0 0 22%;
        }

        &:last-child {
            flex: 0 0 78%;
        }
    }

    &__link {
        @include button-styles2();
        justify-content: center;
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__date {
        display: block;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 8px;
    }

    &__name {
        display: block;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 28px;
    }
}

.slider-main-reviews {
    max-width: 1242px;

    .swiper-slide {
        background: c.$white;
        padding-top: 32px;
        padding-left: 26px;
        margin-bottom: 29px;

        &:not(.swiper-slide-active) {
            box-shadow: 0px 0px 15.6px 0px #00000026;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: #000000;
            text-align: left;
            max-width: 528px;
            line-height: 150%;
        }
    }
}


.rating-result {
    width: 100px;
    margin-right: 36px;

     span {
        padding: 0;
        font-size: 18px;
        line-height: 1;
        color: lightgrey;
        margin-left: -5px;
    }

    & > span:before {
        content: '★';
    }

    & > span.active {
        color: gold;
    }
}

.main-about {

    background: linear-gradient(90deg, #0088CC 0%, #216EE0 100%);
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
        @include h2-styles();
        color: c.$white;
        margin-bottom: 18px;
        text-align: center;
    }

    p {
        font-size: 22px;
        line-height: 150%;
        color: c.$white;
        font-weight: 400;
        text-align: center;
        max-width: 1124px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        cursor: pointer;

    }

    &__img {
        text-align: center;
    }

    &__item {
        max-width: 248.74px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__text {
        text-align: center;
        margin-top: 35px;
        font-size: 18px;
        font-weight: 600;
        color: c.$white;
    }
}

.container {}

.main-bout {
    &__item {}

    &__text {}
}

.main {
    &__about {}
}

.additional_content {
   .main-content__inner {
       margin-top: 60px;
   }
}

.contacts {
    margin-bottom: 60px;

    &__inner {
        padding: 50px 100px 101px 76px;
        background: url("../images/contacts_bg.png") no-repeat;
        display: flex;
        column-gap: 58px;
    }

    &__description {
        text-align: end;

        h3 {
            font-size: 29px;
            font-weight: 700;
            color: c.$dark;
            margin-bottom: 30px;
            text-align: left;
        }
    }

    &__item {
        padding-left: 40px;
        position: relative;
        text-align: left;

        &:first-child {
            font-size: 16px;
            font-weight: 500;
            color: c.$dark;
            margin-bottom: 20px;

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/contacts_geolocation.svg") no-repeat;
            }
        }

        &:nth-child(2) {
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 29px;

            a {
                color: c.$dark;
                display: inline-block;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$dark;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }


            }

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/contacts_mail.svg") no-repeat;
            }
        }

        &:nth-child(3) {
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 28px;

            a {
                color: c.$dark;
                display: inline-block;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: c.$dark;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/contacts_call.svg") no-repeat;
            }
        }
    }

    &__button {
        @include button-styles1();
        width: 210px;
        margin-right: 30px;
    }
}

.footer {
    background: #0286CD;
    padding-top: 42px;
    padding-bottom: 50px;

    &__logo {
        width: 201px;
        height: 65px;
        margin-bottom: 42px;
    }

    &__inner-top {
        border-bottom: 1px solid #64B4DF;

        .container {
            display: flex;
            justify-content: space-between;
            column-gap: 129px;
        }
    }

    &__list {
        max-width: 333px;
    }

    &__item {

        padding-left: 36px;
        position: relative;
        display: inline-block;

        &:first-child {
            margin-bottom: 28px;

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/footer_call.svg") no-repeat;

            }

            a {
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;

                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 19px;

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/footer_mail.svg") no-repeat;

            }

            a {
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;

                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

        }

        &:nth-child(3) {
            font-size: 16px;
            font-weight: 400;
            color: c.$white;

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../images/footer_geolocation.svg") no-repeat;

            }
        }

        a{
            font-size: 23px;
            font-weight: 500;
            color: c.$white
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        column-gap: 106px;
        margin-bottom: 20px;
    }

    &__item-basic {
        font-size: 23px;
        font-weight: 700;
        color: c.$white;

        span {
            display: block;
            margin-bottom: 17px;
        }
    }

    &__submenu {}

    &__item-sub {

        &:not(last-child) {
            margin-bottom: 7px;
        }
    }

    &__link {

        font-size: 16px;
        font-weight: 500;
        color: c.$white;
        display: inline-block;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    &__inner-bottom {
        padding-top: 37px;
        padding-left: 16px;

        p {
            font-size: 16px;
            font-weight: 400;
            color: c.$white;
        }
    }
}






