<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <a href="/">
                <img class="lazy" data-src="assets/images/footer-logo.svg" alt="">
            </a>
        </div>
    </div>
    <div class="footer__inner-top">
        <div class="container">
            <div class="footer__contacts">
                <ul class="footer__list">
                    <li class="footer__item">
                        <img class="footer__icon lazy" data-src="assets/images/footer_call.svg" alt="Телефон">
                        <a class="footer__link" href="tel:+78123365868">+7 (812) 336-58-68</a>
                    </li>
                    <li class="footer__item">
                        <img class="footer__icon lazy" data-src="assets/images/footer_mail.svg" alt="Email">
                        <a class="footer__link" href="mailto:order36@glavmech.ru">order36@glavmech.ru</a>
                    </li>
                    <li class="footer__item">
                        <img class="footer__icon lazy" data-src="assets/images/footer_geolocation.svg" alt="Адрес">
                        <span class="footer__text">г. Санкт-Петербург, ул. Седова, д. 11, БЦ «Эврика», офис 602</span>
                    </li>
                </ul>
            </div>
            <ul class="footer__menu">
                <li class="footer__item-basic">
                    <span><a href="./catalog.html">Каталог</a></span>
                    <ul class="footer__submenu">
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Защита от вибрации</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Комплектующие</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Защитные колпачки</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item-basic">
                    <span><a href="#">Компания</a></span>
                    <ul class="footer__submenu">
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">О компании</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Новости</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Отзывы</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Политика</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item-basic">
                    <span><a href="#">Помощь</a></span>
                    <ul class="footer__submenu">
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Блог</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Бренды</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item-basic">
                    <span><a href="#">Покупателю</a></span>
                    <ul class="footer__submenu">
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Условия оплаты</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Условия доставки</a>
                        </li>
                        <li class="footer__item-sub">
                            <a href="#" class="footer__link">Гарантии на товар</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__inner-bottom">
        <div class="container">
            <p>2025 © Главмех - внимание к мелочам</p>
        </div>
    </div>
</footer>