<section class="main-form" id="form">
    <div class="main-form__inner">
        <div class="container">
            <p class="main-form__title">
                Если нужна помощь, обратитесь
                к нашему менеджеру
            </p>
            <p class="main-form__text">
                Ответим на ваши вопросы по оборудованию и поможем подобрать запчасти или аналоги
            </p>
            <form class="main-form__form" action="#" method="POST">
                <label>
                    <input type="text" name="name" placeholder="Ваше имя"  required>
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Контактный телефон" required>
                </label>
                <label>
                    <input type="email" name="email" placeholder="Адрес электронной почты" required>
                </label>
                <label>
                    <textarea name="textarea" placeholder="Задайте Ваш вопрос" required></textarea>
                </label>
                <label>
                    <input type="checkbox" name="checkbox" required>
                    <span>Я принимаю условия использования <a href="#">Персональных данных</a> и даю согласие на <a href="#">Обработку персональных данных</a></span>
                </label>
                <button type="submit">Получить консультацию</button>
            </form>
        </div>
    </div>
    <div class="main-form__bg"></div>
</section>