<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-content flex">
                <div class="header__item header__item-location">
                    г. Санкт-Петербург, ул. Седова, д. 11, БЦ «Эврика», офис 602
                </div>
                <div class="header__item header__item-delivery"><a href="#">Доставка</a></div>
                <div class="header__item header__item-payment"><a href="#">Оплата</a></div>
                <div class="header__item header__item-email">
                    <a href="mailto:order36@glavmech.ru" class="header__link">order36@glavmech.ru</a>
                    <span class="header__note">Для заявок и обратной связи</span>
                </div>
                <div class="header__item header__item-phone">
                    <a href="tel:+78123365868" class="header__link">+7 (812) 336-58-68</a>
                    <span class="header__time">Пн–Пт: <b>с 10:00 до 18:00</b></span>
                </div>
                <div class="header__item header__item-call">
                    <button class="btn btn-call">Заказать звонок</button>
                </div>
                <div class="header__item header__item-cart">
                    <span class="flex flex-center">0</span>
                    Корзина
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-content flex">
                <div class="header__item header__item-logo">
                    <a href="/">
                        <img class="lazy" data-src="assets/images/glavmech-logo.svg"  alt="Логотип компании">
                    </a>
                </div>
                <div class="header__item header__item-catalog">
                    <button class="btn btn-catalog flex flex-center">
                        <span class="burger flex">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>Каталог
                    </button>
                </div>
                <nav class="header__nav">
                    <ul class="nav__list flex">
                        <li class="nav__item nav__item-dropdown">
                            <a href="#" class="nav__link">Виброопоры по сериям</a>
                            <div class="nav__submenu">
                                <a href="#" class="nav__sublink">ТИП А</a>
                                <a href="#" class="nav__sublink">ТИП В</a>
                                <a href="#" class="nav__sublink">ТИП М</a>
                            </div>
                        </li>
                        <li class="nav__item nav__item-dropdown">
                            <a href="#" class="nav__link">Виброопоры по назначению</a>
                            <div class="nav__submenu">
                                <a href="#" class="nav__sublink">ТИП А</a>
                                <a href="#" class="nav__sublink">ТИП В</a>
                                <a href="#" class="nav__sublink">ТИП М</a>
                            </div>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">О компании</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Услуги</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__item header__item-search search">
                    <button class="btn btn-search search__btn">
                        <img class="lazy" data-src="assets/images/search.svg"  alt="">
                    </button>
                    <div class="search__form">
                        <div class="search__inner">
                            <img class="search__icon lazy" data-src="assets/images/search.svg" alt="">
                            <form class="form-search">
                                <input type="search" placeholder="Введите товар или артикул" name="q">
                                <input type="submit" class="search__submit" value="">
                            </form>
                            <div class="search__close">
                                <img class="lazy" data-src="assets/images/cross.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__item header__item-request">
                    <a href="#form" class="btn btn-request">Оставить заявку</a>
                </div>
                <div class="header__item mobile-menu">
                    <button class="btn btn-menu flex flex-center">
                        <span class="burger flex">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>Меню
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>