<div class="modal-catalog">
    <ul class="modal-catalog__list">
        <li class="modal-catalog__item">
            <button class="modal-catalog__title">Защита от вибрации</button>
            <ul class="modal-catalog__sub">
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Цилиндрические опоры <span class="modal-catalog__count">(304)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Резино-металлические антивибрационные опоры <span class="modal-catalog__count">(357)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Гидравлические опоры <span class="modal-catalog__count">(21)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Антивибрационные регулируемые опоры <span class="modal-catalog__count">(30)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Эластомерные пружины <span class="modal-catalog__count">(20)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Пружинные опоры <span class="modal-catalog__count">(102)</span></a>
                </li>
            </ul>
        </li>
        <li class="modal-catalog__item">
            <button class="modal-catalog__title">Комплектующие</button>
            <ul class="modal-catalog__sub">
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Регулируемые опоры <span class="modal-catalog__count">(304)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Ручки <span class="modal-catalog__count">(357)</span></a>
                </li>
            </ul>
        </li>
        <li class="modal-catalog__item">
            <button class="modal-catalog__title">Защитные колпачки</button>
            <ul class="modal-catalog__sub">
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Пластиковые защитные колпачки <span class="modal-catalog__count">(304)</span></a>
                </li>
                <li class="modal-catalog__sub-item">
                    <a href="#" class="modal-catalog__sub-link">Виниловые защитные колпачки <span class="modal-catalog__count">(304)</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-call">
    <div class="modal-call__title">Заказать звонок</div>
    <form class="modal-call__form" action="#" method="POST">
        <label class="modal-call__field">
            <input class="modal-call__input" type="text" name="name" placeholder="Ваше имя" required>
        </label>
        <label class="modal-call__field">
            <input class="modal-call__input" type="tel" name="tel" placeholder="Контактный телефон" required>
        </label>
        <label class="modal-call__check">
            <input class="modal-call__checkbox" type="checkbox" name="checkbox" required>
            <span class="modal-call__text">Я принимаю условия использования <a href="#" class="modal-call__link">Персональных данных</a> и даю согласие на <a href="#" class="modal-call__link">Обработку персональных данных</a></span>
        </label>
        <button class="modal-call__btn" type="submit">Отправить</button>
    </form>
    <button class="modal-call__close">
        <img class="modal-call__close-icon lazy" data-src="assets/images/cross.svg" alt="Закрыть">
    </button>
</div>
<div class="modal">
    <div class="modal__title">Купить в 1 клик</div>
    <p class="modal__description">6x7 MM (Тип А) - Антивибрационная опора</p>
    <form class="modal__form" action="#" method="POST">
        <label class="modal__field">
            <input class="modal__input" type="text" name="name" placeholder="Ваше имя" required>
        </label>
        <label class="modal__field">
            <input class="modal__input" type="tel" name="tel" placeholder="Контактный телефон" required>
        </label>
        <label class="modal__field">
            <input class="modal__input" type="email" name="email" placeholder="Адрес электронной почты" required>
        </label>
        <label class="modal__field">
            <select class="modal__select" name="hardness">
                <option value="">Твердость</option>
                <option value="10">10</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
            </select>
        </label>
        <label class="modal__quantity">
            <button class="modal__btn-minus" type="button">
                <img class="lazy" data-src="../assets/images/minus.svg" alt="">
            </button>
            <input class="modal__input-number" type="number" min="1" value="1">
            <span class="modal__unit">шт</span>
            <button class="modal__btn-plus" type="button">
                <img class="lazy" data-src="../assets/images/plus.svg" alt="">
            </button>
        </label>
        <label class="modal__field">
            <textarea class="modal__textarea" name="textarea" placeholder="Комментарий" required></textarea>
        </label>
        <label class="modal__checkbox">
            <input class="modal__checkbox-input" type="checkbox" name="checkbox" required>
            <span class="modal__checkbox-text">Я принимаю условия использования <a href="#">Персональных данных</a> и даю согласие на <a href="#">Обработку персональных данных</a></span>
        </label>
        <button class="modal__submit" type="submit">Купить</button>
    </form>
    <button class="modal__close" type="button">
        <img class="modal__close-icon lazy" data-src="assets/images/cross.svg" alt="Закрыть">
    </button>
</div>
<div class="notification">
    <p class="notification__text">Товар добавлен в корзину</p>
    <img class="notification__icon lazy" data-src="assets/images/product-added.svg" alt="Успешно">
</div>
<div class="modal-delivery">
    <div class="modal-delivery__inner">
        <p class="modal-delivery__title">Доставка</p>
        <p><b>Доставка по СПб</b> от 1 дня<span> (после поступления заказа)</span></p>
        <p><b>по Москве</b> от 2 дней</p>
        <p><b>по Екатеринбургу</b> от 6 дней</p>
        <p><b>Московская обл</b> от 4 дней</p>
        <p><b>Свердловская обл</b> от 6 дней</p>
        <div class="modal-delivery__close">
            <img class="lazy" data-src="assets/images/cross2.svg" alt="">
        </div>
    </div>
</div>
<div class="mobile-navigation">
    <div class="mobile-navigation__inner">
        <div class="mobile-navigation__logo">
            <a href="/">
               <img class="lazy" data-src="assets/images/mobile_logo.svg">
            </a>
        </div>
        <nav class="mobile-menu">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <span>Виброопоры по сериям</span>
                    <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                    <ul class="mobile-menu__sublist">
                        <li class="mobile-menu__subitem">
                            <a class="mobile-menu__link_sub" href="#">
                                Защита от вибрации
                            </a> <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                            <ul class="mobile-menu__list_add">
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Цилиндрические опоры <span>(304)</span>
                                    </a>
                                </li>
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Резино-металлические антивибрационные опоры <span>(357)</span>
                                    </a>
                                </li>
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Гидравлические опоры <span>(21)</span>
                                    </a>
                                </li>
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Антивибрационные регулируемые опоры <span>(30)</span>
                                    </a>
                                </li>
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Эластомерные пружины <span>(20)</span>
                                    </a>
                                </li>
                                <li class="mobile-menu__item_add">
                                    <a class="mobile-menu__link_add" href="#">
                                        Пружинные опоры <span>(102)</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu__subitem">
                            <a class="mobile-menu__link_sub" href="#">
                                Пружинные опоры
                            </a>
                            <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                        </li>
                        <li class="mobile-menu__subitem">
                            <a class="mobile-menu__link_sub" href="#">
                                Комплектующие
                            </a>
                            <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                        </li>
                        <li class="mobile-menu__subitem">
                            <a class="mobile-menu__link_sub" href="#">
                                Защитные колпачки
                            </a>
                            <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu__item">
                    <span>Виброопоры по назначению</span>
                    <img class="lazy" data-src="assets/images/mobile_menu_arrow.svg">
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">О компании</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Услуги</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu__close">
            <img class="lazy" data-src="assets/images/mobile_menu_close.svg">
        </div>
    </div>
</div>
<div class="modal-filter">
    <div class="filter">
        <form class="filter__form" action="" method="POST">
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">А (мм)</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="a[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">B (мм)</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="b[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">C (мм)</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">М (мм)</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">Материал металлических частей</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__header">
                    <span class="filter__toggle">Твердость</span>
                </div>
                <div class="filter__content">
                    <div class="filter__variants">
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="10">
                                <span>10</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="100">
                                <span>100</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="105">
                                <span>105</span>
                            </label>
                        </div>
                        <div class="filter__inner">
                            <label>
                                <input type="checkbox" name="c[]" value="120">
                                <span>120</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-filter__controls-">
                <button class="show-btn">Показать</button>
                <button class="reset-btn">Сбросить</button>
            </div>
        </form>
        <div class="modal-filter__close">
            <img class="lazy" data-src="assets/images/filter_close.svg" alt="">
        </div>
    </div>
</div>
<div class="overlay"></div>