<div class="sidebar-container">
    <aside class="inside-page__sidebar sidebar">
        <nav class="sidebar__navigation">
            <ul class="sidebar__list">
                <li class="sidebar__item">Защита от вибрации
                    <ul class="sidebar__sub-menu">
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Цилиндрические опоры</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Резино-металлические антивибрационные опоры</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Гидравлические опоры</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Антивибрационные регулируемые опоры</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Эластомерные пружины</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Пружинные опоры</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__item">Комплектующие
                    <ul class="sidebar__sub-menu">
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Регулируемые опоры</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Ручки</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__item">Защитные колпачки
                    <ul class="sidebar__sub-menu">
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Пластиковые защитные колпачки</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a href="#" class="sidebar__sub-link">Виниловые защитные колпачки</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</div>